/* reset */
* {
    margin: 0;
    padding: 0;
}

:root {
    --green-dark: #44442a;
    --green-main: #74835c;
    --green-light: #b0b87f;
    --green-accent: #e2e0b1;
    --red-apple: #c96565;

    --shadow-color: 84deg 20% 25%;
    --shadow-elevation-low:
        0px 1px 0.9px hsl(var(--shadow-color) / 0.73),
        0px 1.7px 1.6px -1.9px hsl(var(--shadow-color) / 0.57),
        0px 4.8px 4.5px -3.7px hsl(var(--shadow-color) / 0.4);
    --shadow-elevation-medium:
        0px 1px 0.9px hsl(var(--shadow-color) / 0.76),
        0px 2.8px 2.6px -1.2px hsl(var(--shadow-color) / 0.64),
        -0.1px 8.8px 8.3px -2.5px hsl(var(--shadow-color) / 0.51),
        -0.2px 24px 22.5px -3.7px hsl(var(--shadow-color) / 0.38);
    --shadow-elevation-high:
        0px 1px 0.9px hsl(var(--shadow-color) / 0.71),
        0px 4.6px 4.3px -0.5px hsl(var(--shadow-color) / 0.65),
        -0.1px 9.6px 9px -1.1px hsl(var(--shadow-color) / 0.59),
        -0.1px 18.3px 17.2px -1.6px hsl(var(--shadow-color) / 0.53),
        -0.2px 33.3px 31.2px -2.1px hsl(var(--shadow-color) / 0.47),
        -0.4px 57px 53.4px -2.7px hsl(var(--shadow-color) / 0.41),
        -0.6px 91.7px 86px -3.2px hsl(var(--shadow-color) / 0.35),
        -0.9px 140px 131.3px -3.7px hsl(var(--shadow-color) / 0.3);
}

body {
    background-color: var(--green-main);
    color: var(--green-dark);

    font-family: 'Caveat Brush', monospace;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    /* wrap content (divs) to new line, fill container */
    flex-wrap: wrap;
    
    position: relative;
    
    width: 300px;
    height: 300px;
    border: 4px solid var(--green-dark);
    background-color: var(--green-light);

    margin-bottom: 50px;

    box-shadow: var(--shadow-elevation-medium);
}

.game-title {
    font-size: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.control-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    margin-right: 25px;

    padding: 5px 15px;
    border: 3px solid var(--green-accent);
    border-radius: 5px;

    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    color: var(--green-accent);

    background-color: var(--green-main);

    box-shadow: var(--shadow-elevation-medium);

    cursor: pointer;
}

.btn:last-child {
    margin-right: 0;
}

.btn-dpad {
    background-color: var(--green-dark);
    font-size: 25px;
}

.btn-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 30px;

    box-shadow: var(--shadow-elevation-high);
}

.scoreboard {
    font-size: 50px;
}

.square {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: var(--green-main);
}

.apple {
    background-color: var(--red-apple);
    border-radius: 50%;
}


/* Mobile Styles */
@media only screen and (max-width: 409px) {
    
}

/* Tablet Styles */
@media only screen and (min-width: 700px) and (max-width: 909px) {
    
}

/* Desktop Styles */
@media only screen and (min-width: 910px) {
    
}